body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #1dd1def9;
    box-sizing: border-box;
    color: #333;
}

a {
    text-decoration: none;
}

header {
    color: yellow;
    text-align: center;
    padding: 20px;
    font-size: 27px;
}

header p {
   color: #9d09f9;
   font-size: 1.2em;  
    margin-top: 10px;
   
}

.language-selector {
    margin: 10px;
}

/* Default Theme */
body.default-theme {
    background-color: #1dd1def9;
    color: #333;
}

/* Dark Theme */
body.dark-theme {
    background-color: black;
    color: white;
}

/* Light Theme */
body.light-theme {
    background-color: lightgray;
    color: black;
}

.color-theme-selector {
    margin: 10px;
}

.review-sorting {
    margin: 10px;
}

.language-selector label {
    font-size: 1.1em;
    margin-right: 10px;
}

.language-selector select {
    font-size: 1.1em;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: white;
    cursor: pointer;
}

.form-container {
    background-color: white;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 8px;
    max-width: 500px;
}

#reviewFormTitle {
    text-align: center;
}

form label {
    display: block;
    font-size: 1em;
    margin-bottom: 8px;
}

form input[type="text"],
form select {
    width: 95%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 25px;
}

button[type="submit"] {
    background-color: #007bff;
    color: white;
    font-size: 1.2em;
    width: 100%;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

button[type="submit"]:hover {
    background-color: purple;
}

.star-rating {
    direction: rtl;
    text-align: left;
    border-radius: 8px;
    font-size: 20px;
}

.star-rating input[type="radio"] {
    display: none; /* Hide the radio button */
}

/* Style stars as clickable elements */

.star-rating input[type="radio"] {
    color: gray;
    font-size: 2em;
    transition: color 0.3s ease;
    cursor: pointer;
}

.star-rating input[type="radio"]:checked ~ label,
.star-rating input[type="radio"]:checked + label {
    color: gold;
}


.star-rating label:hover,
.star-rating input[type="radio"]:hover ~ label {
    color: gold;
}

#review-container {
    text-align: center;
    background-color: lightgray;
    border: 2px solid black;
    margin: 20px auto;
    max-width: 800px;
    border-radius: 8px;
}

.review {
    background-color: white;
    padding: 20px;
    margin-bottom: 10px;
    border-radius: 8px;
}

.review-header {
    display: flex;
    justify-content: center;
    gap: 5px;
    font-size: 1em;
}

.review-user {
    font-weight: bold;
}

.review-date {
    font-weight: lighter;
}

.helpful-btn {
    background-color: teal;
    color: white;
    border-radius: 5px;
    margin-right: 7px;
}

.helpful-btn:hover {
   color: rgb(241, 185, 112);
}

@media (max-width: 608px) {
    .form-container {
        max-width: 90%;
    }
    .reviewTitleLabel {
        margin-top: 10px 0;
        padding: 0px;
        width: 90px;
    }
    .review-header {
        font-size: 0.9em;  
    }
    .review-text {
        font-size: 0.95em;
    }
    .review-container {
        max-width: 95%;
    }
    .review {
        margin-top: 10px 0;
        padding: 10px;
    }
    .review-header {
        font-size: 0.9em;  
    }
    .review-text {
        font-size: 0.95em;
    }
}

@media (max-width: 1100px) {
    .form-container {
        max-width: 95%;
    }
    .reviewTitleLabel{
        margin-top: 20px 0;
        padding: 10px;
    }
    .review-header {
        font-size: 2em;  
    }
    .review-text {
        font-size: 2em;
    }
    .review-container {
        max-width: 95%;
    }
    .review {
        margin-top: 20px 0;
        padding: 10px;
    }
    .review-header {
        font-size: 1em;  
    }
    .review-text {
        font-size: 1em;
    }
    .helpful-btn {
        padding: 6px 12px;
        font-size: 1em;
    }
}